name: CI-CD Flask App
 
on:
  push:
    branches:
      - main
 
jobs:
  deploy:
    runs-on: ubuntu-latest
 
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
 
    - name: Build Docker Image
      run: docker build -t falsk_demo .
 
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        debug: true
        script: |
          docker stop falsk_demo || true
          docker rm falsk_demo || true
          docker build -t falsk_demo .
          docker run -d --name suspicious_spence -p 5000:5000 falsk_demo
